---

title: "The Home Server"
subtitle: "Just that, it's my home server"
documentTitle: "Homeserver"
logo: "assets/icons/homer.png"

header: true
footer: ''

columns: "3"

defaults:
  layout: columns
  colorTheme: auto

# Optional theming
theme: default

links:
  - name: "Source Code"
    icon: "fab fa-github"
    url: "https://github.com/albertcanales/homeserver"
    target: "_blank" # optional html tag target attribute
  - name: "Documentation"
    icon: "fas fa-book"
    url: "http://{{ ansible_host }}:8000"

services:
  - name: "Applications"
    icon: "fas fa-cloud"
    items:
      - name: "Nextcloud"
        logo: "assets/icons/nextcloud.png"
        subtitle: "File hosting service"
        url: "http://{{ ansible_host }}:500"
      - name: "Jellyfin"
        logo: "assets/icons/jellyfin.png"
        subtitle: "Movie and show library"
        url: "http://{{ ansible_host }}:8096"
      - name: "Calibre"
        logo: "assets/icons/calibre.png"
        subtitle: "Book library"
        url: "http://{{ ansible_host }}:8083"
      - name: "Home Assistant"
        logo: "assets/icons/homeassistant.png"
        subtitle: "Home Automation"
        url: "http://{{ ansible_host }}:8123"
  - name: "Administration"
    icon: "fas fa-tools"
    items:
      - name: "Wireguard"
        logo: "assets/icons/wireguard.png"
        subtitle: "VPN service"
        url: "http://192.168.1.27:51821"
      - name: "Router configuration"
        logo: "assets/icons/router.png"
        url: "http://192.168.1.1"
