---

title: "The Home Server"
subtitle: "Just that, it's my home server"
documentTitle: "Homeserver"
logo: "assets/icons/homer.png"

header: true
footer: ''

columns: "3"

defaults:
  layout: columns
  colorTheme: auto

# Optional theming
theme: default

links:
  - name: "Source Code"
    icon: "fab fa-github"
    url: "https://github.com/albertcanales/homeserver"
    target: "_blank" # optional html tag target attribute
  - name: "Documentation"
    icon: "fas fa-book"
    url: "https://docs.{{ public_url }}"

services:
  - name: "Applications"
    icon: "fas fa-cloud"
    items:
      - name: "Nextcloud"
        logo: "assets/icons/nextcloud.png"
        subtitle: "File hosting service"
        url: "https://nextcloud.{{ public_url }}"
      - name: "Jellyfin"
        logo: "assets/icons/jellyfin.png"
        subtitle: "Movie and show library"
        url: "https://jellyfin.{{ public_url }}"
      - name: "Immich"
        logo: "assets/icons/immich.svg"
        subtitle: "Photo and video library"
        url: "https://immich.{{ public_url }}"
      - name: "Calibre"
        logo: "assets/icons/calibre.png"
        subtitle: "Book library"
        url: "https://calibre.{{ public_url }}"
      - name: "Mealie"
        logo: "assets/icons/mealie.png"
        subtitle: "Recipe manager"
        url: "https://mealie.{{ public_url }}"
      # - name: "Home Assistant"
      #   logo: "assets/icons/homeassistant.png"
      #   subtitle: "Home automation"
      #   url: "https://home.{{ public_url }}"
      # - name: "Overleaf"
      #   logo: "assets/icons/overleaf.svg"
      #   subtitle: "LaTeX editor"
      #   url: "https://overleaf.{{ public_url }}"
      - name: "PufferPanel"
        logo: "assets/icons/pufferpanel.png"
        subtitle: "Game managment panel"
        url: "https://puffer.{{ public_url }}"
      - name: "Paperless"
        logo: "assets/icons/paperless.svg"
        subtitle: "Document management system"
        url: "https://paperless.{{ public_url }}"
      - name: "Gitea"
        logo: "assets/icons/gitea.svg"
        subtitle: "Git hosting service"
        url: "https://gitea.{{ public_url }}"
      # - name: "FreshRSS"
      #   logo: "assets/icons/freshrss.png"
      #   subtitle: "A RSS Aggregator"
      #   url: "https://freshrss.{{ public_url }}"
  - name: "Media management"
    icon: "fas fa-photo-film"
    items:
      - name: "Syncthing"
        logo: "assets/icons/syncthing.svg"
        subtitle: "File synchronization"
        url: "https://syncthing.{{ public_url }}"
      - name: "Jellyseerr"
        logo: "assets/icons/jellyseerr.svg"
        subtitle: "Media Request Manager"
        url: "https://jellyseerr.{{ public_url }}"
      - name: "Deluge"
        logo: "assets/icons/deluge.svg"
        subtitle: "BitTorrent client"
        url: "https://deluge.{{ public_url }}"
      - name: "Sonarr"
        logo: "assets/icons/sonarr.png"
        subtitle: "Shows manager"
        url: "https://sonarr.{{ public_url }}"
      - name: "Radarr"
        logo: "assets/icons/radarr.png"
        subtitle: "Movies manager"
        url: "https://radarr.{{ public_url }}"
      - name: "Readarr"
        logo: "assets/icons/readarr.svg"
        subtitle: "Books manager"
        url: "https://readarr.{{ public_url }}"
      - name: "Bazarr"
        logo: "assets/icons/bazarr.png"
        subtitle: "Subtitles manager"
        url: "https://bazarr.{{ public_url }}"
      - name: "Prowlarr"
        logo: "assets/icons/prowlarr.svg"
        subtitle: "Indexer manager"
        url: "https://prowlarr.{{ public_url }}"
  - name: "Administration"
    icon: "fas fa-tools"
    items:
      # - name: "Wireguard"
      #   logo: "assets/icons/wireguard.png"
      #   subtitle: "VPN service"
      #   url: "https://wireguard.{{ public_url }}"
      - name: "ZeroTier One"
        logo: "assets/icons/zerotier.svg"
        subtitle: "VPN service"
        url: "https://my.zerotier.com/"
      - name: "Tailscale"
        logo: "assets/icons/tailscale.svg"
        subtitle: "VPN service"
        url: "https://login.tailscale.com/admin/machines"
      - name: "Uptime Kuma"
        logo: "assets/icons/uptime-kuma.svg"
        subtitle: "Downtime checker and notifier"
        url: "https://kuma.{{ public_url }}"
      - name: "DockProm"
        logo: "assets/icons/grafana.svg"
        subtitle: "Server and Docker monitoring"
        url: "https://dockprom.{{ public_url }}"
      - name: "Scrutiny"
        logo: "assets/icons/scrutiny.svg"
        subtitle: "Drive Health Monitoring"
        url: "https://scrutiny.{{ public_url }}"
      - name: "Router configuration"
        logo: "assets/icons/router.png"
        url: "https://router.{{ public_url }}"
